.e_cajas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: #FFFFFF;
	border: 1px solid #999999;
; width: 30mm
}
.e_buttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	background-color: #D7825D;
	border: 1px solid #999999;
; color: #000000
}
.e_tablas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000000;
	background-color: #AAC8F4;
}
.etexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.etexto2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.etablas2 {
	background-color: #CFD6EF;
}
.ebuttons2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000000; background-color: #CAEEBB; border: 1px #000000 solid}
.ecajasfecha {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #FFFFFF; border: 1px #999999 solid}
.etablas3 { background-color: #FFFFFF; }
.tencabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #AAC8F4;
	color: #000000;
}
.tencabezado2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.tpar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000 ; background-color: #FFFFFF}
.tpar2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000 ; background-color: #CCCCCC}
.timpar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #EAEAEA}
.etitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;


}
.etextou { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; ; font-weight: bold}

BODY {
	SCROLLBAR-FACE-COLOR: #EAEAEA; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #EAEAEA; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
.eerrores {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
}
.eletraa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003399;
}
.cajac {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #DAF1FC; border: 1px #999999 solid
}
.etextomenu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #003399}
.ecomentario {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; background-color: #D9E3F4; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.enoresultado {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000066; text-decoration: underline}